
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img" src="assets/img/slider1.png">
      </div>
      <div class="carousel-caption">
        <h3>VILLAGE TO WORLD SOFTWARE SOLUTIONS</h3>
        <p>ENLIGHTEN MINDS</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img" src="assets/img/slider2.jpg">
      </div>
      <div class="carousel-caption">
        <h3>VILLAGE TO WORLD SOFTWARE SOLUTIONS</h3>
        <p>ENLIGHTEN MINDS</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img" src="assets/img/slider3.jpg">
      </div>
      <div class="carousel-caption">
        <h3>VILLAGE TO WORLD SOFTWARE SOLUTIONS</h3>
        <p>ENLIGHTEN MINDS</p>
      </div>
    </ng-template>
  </ngb-carousel>
 